<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <title>CRISPR arrays</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">

        <div class="container">
            <a class="navbar-brand" href="http://crisprlstm.westus.cloudapp.azure.com:8001/"> CRISPR Array Visualization </a>
            <span>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://crisprlstm.westus.cloudapp.azure.com">CRISPRLstm Search <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </span>
        </div>

    </nav>
    <br />
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <p class="lead">

                    <form id="fileinfo" enctype="multipart/form-data">
                        <div class="row justify-content-center">
                        <div class="input-group mb-3 col-10">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload CRISPR json</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="seqfile" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01" accept=".json">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-secondary " id="findBtn" onClick="btnClick('upload',this)" href="#" role="button">Visualize</a>
                        </div>
                        </div>
                        <hr />
                        <div class="row justify-content-center">
                                <div class="col-3">
                        <div class="dropdown">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Download example JSON
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" id="example_sp" target="_blank" href="static/sequences/sp.json"><i>Sp. Pyogenese</i>  M1 GAS</a>
                                    <a class="dropdown-item" id="example_cb" target="_blank" href="static/sequences/cdc.json"><i>C. botulinum </i>CDC 297</a>
                                    <a class="dropdown-item" id="example_mb" target="_blank" href="static/sequences/jh.json"><i> M. bathoardescens</i> strain JH146</a>
                                </div>
                            </div>
                                </div>
                                <div class="col-3">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Visualize example Sequences
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" id="example_sp" onClick="btnClick('sp',this)" ><i>Sp. Pyogenese</i>  M1 GAS</a>
                                <a class="dropdown-item" id="example_cb" onClick="btnClick('cdc',this)" ><i>C. botulinum </i>CDC 297</a>
                                <a class="dropdown-item" id="example_mb" onClick="btnClick('jh',this)" ><i> M. bathoardescens</i> strain JH146</a>
                            </div>
                        </div>
                    </div>
                        </div>
                    </form>

                </p>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"> Uploading CRISPR Array
                json
            </div>
        </div>
        <div id="results">

        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-content">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">&copy; 2019 | <a href="https://github.com/shantanuspark/CRISPRVisualiztion">Codebase on Github</a></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>

</body>

</html>